.span12{'ng-controller' => 'controllers.SiteController'}
  %re-bootstrap-button-dropdown{'items' => 'locations', 'selected-item' => 'selectedLocation', 'label-field' => 'site_name'}
  %re-bootstrap-button-dropdown{'items' => 'flareSpecifications', 'selected-item' => 'selectedFlareSpecification', 'label-field' => 'flare_id'}
  = link_to "Log Out", destroy_user_session_path, :method => :delete, :class => 'btn btn-danger'
.span12
  %span Date Range
  %span LOW END HERE
  %span HIGH END HERE
.dashboard.span12
  %ng-view

- content_for :javascript do
  :javascript
    angular.element(document).ready(function() {
       angular.bootstrap(document, ['dashboard']);
     });

