.span12
  %span Site
  %button.btn.btn-success SITE SELECTION HERE
.span12
  %span Date Range
  %span LOW END HERE
  %span HIGH END HERE
.dashboard.span12
  %ng-view

- content_for :javascript do
  :javascript
    angular.element(document).ready(function() {
       angular.bootstrap(document, ['dashboard']);
     });

