.data-input.create{'ng-app' => 'dashboard'}
  = render 'shared/dashboard_actions', :landfill_operators => @landfill_operators, :sites => @sites, :monitor_classes => @monitor_classes, :sections => @sections
  This is the create view!