.data-input.create
  = render 'shared/dashboard_actions', :landfill_operators => @landfill_operators, :sites => @sites, :sections => @sections, :assets => @assets, :monitor_classes => @monitor_classes
  %h5 Field Log
  .field-log.ng-clock{'ng-repeat' => 'flp in selectedMonitorClass.field_log_points'}
    %label{'ng-bind' => 'flp.name'}
    %input{'ng-model' => 'currentFieldLog[flp.name]'}
  %h5 Data