.data-input.create{'re-show-when-ready' => true, 'style' => 'display: none;'}
  = render 'shared/dashboard_actions', :landfill_operators => @landfill_operators, :sites => @sites, :sections => @sections, :assets => @assets, :monitor_classes => @monitor_classes,
    :operator => @operator, :site => @site, :monitor_class => @monitor_class, :section => @section, :asset => @asset, :locations_monitor_class => @locations_monitor_class, :monitor_points => @monitor_points, :locked => false
  .clearfix
  .row-fluid{'ng-controller' => 'controllers.DataInputController'}
    %form.span4.form-inline.qa-create-tools{'ng-show' => 'newDataValues.selectedLocationsMonitorClass && !createLocationsMonitorClass'}
      %h5 Asset
      %mac-autocomplete{'mac-autocomplete-url' => 'getAssetAutoCompleteUrl(newDataValues.selectedSite, newDataValues.selectedMonitorClass)', 'mac-autocomplete-query' => 'asset_unique_identifier', 'ng-model' => 'assetUniqueIdentifier', 'mac-autocomplete-label' => 'uid', 'class' => 'qa-asset-unique-identifier'}
      %h5 Date
      %datepicker{'ng-model' => 'readingDate', 'date-format' => 'd/M/yyyy', 'time-format' => 'HH:mm'}
      %h5{'ng-show' => 'newDataValues.selectedLocationsMonitorClass.field_log_points'} Field Log
      .field-log{'ng-repeat' => 'flp in newDataValues.selectedLocationsMonitorClass.field_log_points'}
        %label{'ng-bind' => 'flp.name'}
        %input{'ng-model' => 'currentFieldLog[flp.name]'}
      %h5 Data
      .monitor-point{'ng-repeat' => 'mp in newDataValues.selectedLocationsMonitorClass.monitor_points'}
        %label {{mp.name + ' (' + mp.unit + ')'}}
        %input{'ng-model' => 'currentReading[mp.name]'}
        .limit-warning
          %label.monitor-limit{'ng-bind' => 'getMonitorLimitWarning(mp.name, currentReading[mp.name])'}
      %label.error.qa-main-error{'ng-bind' => 'error'}
      %a.btn.btn-success.add.qa-add-create{'ng-click' => 'onAdd()'} Add
      %a.btn.btn-warning.reset{'ng-click' => 'onReset()'} Reset
    .span4.qa-assign-tools{'ng-if' => 'createLocationsMonitorClass'}
      = render 'shared/create_monitor_point'
      %form.span12.form-inline
        %h5 Assign Monitor Points
        .monitor-point.span8{'ng-repeat' => 'mp in newDataValues.monitorPoints'}
          %label{:style => 'width: 100%'} {{mp.name + ' (' + mp.unit + ')'}}
          %a.btn{'ng-class' => 'getMonitorPointAdded(mp) | nsLogicalIf : "btn-success" : "btn-danger"', 'ng-click' => 'onAddOrRemoveMonitorPointFromDefinition(mp)'} {{getMonitorPointAdded(mp) | nsLogicalIf : 'x' : '+'}}
        .span8
          %a.btn.btn-primary{'ng-click' => 'onAssign()'} Assign
    .span8
      = render 'shared/data_table', :angular_controller => 'controllers.PreviewCreate', :monitor_points => @monitor_points