.dashboard-actions{'ng-controller' => 'controllers.DashboardActionController', 'ng-click' => 'onFirstUserInteract()'}
  - unless operator.nil?
    %ns-serialize{'data' => operator.to_json(:methods => [:location_ids]).html_safe, 'property' => 'newDataValues.selectedLandfillOperator'}
  - unless site.nil?
    %ns-serialize{'data' => site.to_json(:include => [:monitor_limits => {:include => :monitor_point}],:methods => [:location_ids, :monitor_class_ids]).html_safe, 'property' => 'newDataValues.selectedSite'}
  - unless monitor_class.nil?
    %ns-serialize{'data' => monitor_class.to_json(:include => [:monitor_points, :field_log_points], :methods => [:monitor_points_for_all_locations]).html_safe, 'property' => 'newDataValues.selectedMonitorClass'}
  - unless locations_monitor_class.nil?
    %ns-serialize{'data' => locations_monitor_class.to_json.html_safe, 'property' => 'newDataValues.selectedLocationsMonitorClass'}
  - unless section.nil?
    %ns-serialize{'data' => section.to_json(:methods => [:asset_ids]).html_safe, 'property' => 'newDataValues.selectedSection'}
  - unless asset.nil?
    %ns-serialize{'data' => section.to_json.html_safe, 'property' => 'newDataValues.selectedAsset'}
  %ns-serialize{'data' => landfill_operators.to_json(:methods => [:location_ids]).html_safe, 'property' => 'landfillOperators'}
  %ns-serialize{'data' => sites.to_json(:include => [:monitor_limits => {:include => :monitor_point}], :methods => [:section_ids, :monitor_class_ids]).html_safe, 'property' => 'sites'}
  - unless sections.nil?
    %ns-serialize{'data' => sections.to_json(:methods => [:asset_ids]).html_safe, 'property' => 'sections'}
  - unless assets.nil?
    %ns-serialize{'data' => assets.to_json.html_safe, 'property' => 'assets'}
  %ns-serialize{'data' => monitor_classes.to_json(:include => [:monitor_points, :field_log_points], :methods => [:monitor_points_for_all_locations]).html_safe, 'property' => 'monitorClasses'}
  %re-bootstrap-button-dropdown.location{'items' => 'landfillOperators', 'selected-item' => 'newDataValues.selectedLandfillOperator', 'label-field' => 'name', 'link-class' => 'btn-success', 'default' => 'Choose Landfill Operator'}
  %re-bootstrap-button-dropdown.location{'items' => 'sites | nsCollectionFilterProperties : "id" : newDataValues.selectedLandfillOperator.location_ids', 'selected-item' => 'newDataValues.selectedSite', 'label-field' => 'site_name', 'link-class' => 'btn-success', 'default' => 'Choose Site'}
  %re-bootstrap-button-dropdown.location{'disabled' => '{{newDataValues.selectedSite | nsLogicalIf : "false" : "true"}}', 'items' => 'monitorClasses | nsCollectionFilterProperties : "id" : newDataValues.selectedSite.monitor_class_ids', 'selected-item' => 'newDataValues.selectedMonitorClass', 'label-field' => 'name', 'link-class' => '{{newDataValues.selectedSite | nsLogicalIf : "btn-success" : "btn"}}', 'default' => 'Choose Monitor Class'}
  - unless sections.nil?
    %re-bootstrap-button-dropdown.location{'disabled' => '{{newDataValues.selectedSite | nsLogicalIf : "false" : "true"}}', 'items' => 'sections | nsCollectionFilterProperties : "id" : newDataValues.selectedSite.section_ids', 'selected-item' => 'newDataValues.selectedSection', 'label-field' => 'name', 'link-class' => '{{newDataValues.selectedSite | nsLogicalIf : "btn-success" : "btn"}}', 'default' => 'Choose Section'}
  - unless assets.nil?
    %re-bootstrap-button-dropdown.location{'disabled' => '{{newDataValues.selectedSection | nsLogicalIf : "false" : "true"}}', 'items' => 'assets | nsCollectionFilterProperties : "id" : newDataValues.selectedSection.asset_ids | nsCollectionFilterProperty : "monitor_class_id" : newDataValues.selectedMonitorClass.id', 'selected-item' => 'newDataValues.selectedAsset', 'label-field' => 'name', 'link-class' => '{{newDataValues.selectedSection | nsLogicalIf : "btn-success" : "btn"}}', 'default' => 'Choose Asset'}
