.dashboard-actions{'ng-controller' => 'controllers.DashboardActionController'}
  %ns-serialize{'data' => landfill_operators.to_json.html_safe, 'property' => 'landfillOperators'}
  %ns-serialize{'data' => sites.to_json.html_safe, 'property' => 'sites'}
  %ns-serialize{'data' => monitor_classes.to_json.html_safe, 'property' => 'monitorClasses'}
  %ns-serialize{'data' => sections.to_json.html_safe, 'property' => 'sections'}