.data-table{'ng-controller' => angular_controller, 'ng-show' => 'data.length'}
  %ns-serialize{'data' => monitor_points.to_json.html_safe, 'property' => 'monitorPoints'}
  %label.label.label-important{'ng-bind' => 'message'}
  %table.table.flare-table.table-striped.table-condensed.table-bordered
    %thead
      %tr
        %th{'ng-repeat' => 'item in data[0] | reCollectionOrderedPairs : newDataValues.selectedMonitorClass.monitor_point_ordering', 'ng-if' => 'item[0] != "$$hashKey"'}
          %p.name{'ng-bind' => 'getColumnLabel(item[0], monitorPoints[item[0]])'}
      -#%tr
      -#  %th{'ng-repeat' => '(key, value) in filters'}
      -#    %input.filter-field{'ng-model' => 'filters[key]'}
    %tbody
      %tr.re-grid-row{'ng-repeat' => 'item in data | nsCollectionPage : page : 500 | nsCollectionKeyedNumericExpression : filters'}
        %td{'ng-bind' => 'value[1]', 'ng-repeat' => 'value in item | reCollectionOrderedPairs : newDataValues.selectedMonitorClass.monitor_point_ordering', 'ng-if' => 'value[0] != "$$hashKey"'}
