.data-table{'ng-controller' => angular_controller, 'ng-show' => 'header'}
  %ns-serialize{'data' => monitor_points.to_json.html_safe, 'property' => 'monitorPoints'}
  %label.label.label-important{'ng-bind' => 'message'}
  %table.table.flare-table.table-striped.table-condensed.table-bordered
    %thead
      %tr
        %th{'ng-repeat' => 'item in header | reCollectionOrderedPairs : newDataValues.selectedMonitorClass.monitor_point_ordering', 'ng-if' => 'item[0] != "$$hashKey" && item[0] != "id"'}
          %p.name{'ng-bind' => 'getColumnLabel(item[0], monitorPoints[item[0]])', 'ng-class' => 'newDataValues.enable.plotMonitorPoint || newDataValues.enable.heatMap | nsLogicalIf : "clickable" : ""', 'ng-click' => 'onPlotMonitorPoint(monitorPoints[item[0]])'}
      %tr{'ng-if' => 'filters && filters.length'}
        %th{'ng-repeat' => 'filter in filters'}
          %input.filter-field{'ng-model' => 'filter.expression', 'ng-keyup'=> 'onEditFilter(filter.key, filter.expression)', 'ng-if' => 'filter.key != "Date Time" && filter.key != "Asset" && filter.key != "id" && filter.key != "$$hashKey"'}
    %tbody
      %tr.re-grid-row{'ng-repeat' => 'item in data', 'ng-click' => 'onEditRow(item)'}
        %td{'ng-bind' => 'value[1] | reStrBlankLessThan : 0 : !isEditableKey(value[0], newDataValues.selectedLocationsMonitorClass)', 'ng-repeat' => 'value in item | reCollectionOrderedPairs : newDataValues.selectedMonitorClass.monitor_point_ordering', 'ng-if' => 'value[0] != "$$hashKey" && value[0] != "id" && !getEdit(item)'}
        - if edit_allowed
          %td{'ng-repeat' => 'value in item | reCollectionOrderedPairs : newDataValues.selectedMonitorClass.monitor_point_ordering', 'ng-if' => 'value[0] != "$$hashKey" && value[0] != "id" && getEdit(item)'}
            %input{'ng-model' => 'rowUnderEdit[value[0]]', 'ng-if' => 'isEditableKey(value[0], newDataValues.selectedLocationsMonitorClass)'}
            %span{'ng-bind' => 'value[1] | reStrBlankLessThan : 0 : !isEditableKey(value[0], newDataValues.selectedLocationsMonitorClass)', 'ng-if' => '!isEditableKey(value[0], newDataValues.selectedLocationsMonitorClass)'}