.btn-group{:class => base_class}
  %a.btn.btn-primary.dropdown-toggle{'data-toggle' => 'dropdown', :class => 'span12'} #{name} <span class='caret'></span>
  %ul.dropdown-menu
    - links.each do |l|
      %li
        %a{:href => l[:href]} #{l[:label]}