.header-controls.row-fluid{'ng-controller' => 'controllers.HeaderControlsController'}
  %h3.title.span4
    %span.company
      &nbsp;
    %span.slash{'ng-bind' => "'/'", 'ng-show' => 'user.name'}
    %span.user{'ng-bind' => 'user.name'}
  = render 'shared/header_controls_dropdown', :base_class => 'span3', :name => 'Data Input', :links => [{:label => 'Add Data', :href => '{{getDataCreateLink()}}'}, {:label => 'Import Data', :href => '{{getDataImportLink()}}'}, {:label => 'Data Collision', :href => '/data_collision'}]
  = render 'shared/header_controls_dropdown', :base_class => 'span3', :name => 'Data Analysis', :links => [{:label => 'Data Analysis', :href => '{{getDataAnalysisLink()}}'}, {:label => 'Export CSV', :href => '{{getExportCsvLink()}}'}, {:label => 'Site Summary', :href => '/summary/locations'}]
  = link_to 'Logout', destroy_user_session_path, :method => :delete, :class => 'btn btn-inverse logout span2'

