.data-table{'ng-controller' => 'controllers.ImportTable', 'ng-show' => 'data.length', :style => 'display: none;'}
  %label.label.label-important{'ng-bind' => 'message'}
  %table.table.flare-table.table-striped.table-condensed.table-bordered
    %thead
      %tr
        %th
        %th{'ng-repeat' => '(key, value) in data[0]'}
          %p.name{'ng-bind' => 'key'}
      %tr
        %th
        %th{'ng-repeat' => '(key, value) in data[0]'}
          %a.btn.btn-danger X
    %tbody
      %tr.re-grid-row{'ng-repeat' => 'item in data', 'ng-class' => 'getRowVariation($index + 1, "", "removed-row")'}
        %td
          %a.btn.btn-danger{'ng-click' => 'onRemoveRow($index + 1)', 'ng-class' => 'getRowVariation($index + 1, "btn-danger", "btn-inverse")'} {{getRowVariation($index + 1, "x", "+")}}
        %td{'ng-bind' => 'value', 'ng-repeat' => '(key, value) in item'}
