.data-table{'ng-controller' => 'controllers.ImportTable', 'ng-show' => 'data.length', :style => 'display: none;'}
  %label.label.label-important{'ng-bind' => 'message'}
  %table.table.flare-table.table-striped.table-condensed.table-bordered
    %thead
      %tr
        %th
        %th{'ng-repeat' => '(key, value) in data[0]', 'ng-class' => 'getColumnVariation(key, "", "removed-column")'}
          %p.name{'ng-bind' => 'key'}
          .dropdown{'ng-show' => 'getColumnVariation(key, true, false)'}
            %a.btn{'ng-click' => 'onSetAssetColumn(key)'} {{readingMods.assetColumnName == key | nsLogicalIf : 'Asset Column' : 'Set Asset Column'}}
            %re-bootstrap-button-dropdown{'items' => 'monitorPoints', 'selected-item' => 'readingMods.columnToMonitorPointMappings[key]', 'label-field' => 'name'}
      %tr
        %th
        %th{'ng-repeat' => '(key, value) in data[0]', 'ng-class' => 'getColumnVariation(key, "", "removed-column")'}
          %a.btn{'ng-click' => 'onRemoveColumn(key)', 'ng-class' => 'getColumnVariation(key, "btn-danger", "btn-inverse")'} {{getColumnVariation(key, "x", "+")}}
    %tbody
      %tr.re-grid-row{'ng-repeat' => 'item in data', 'ng-class' => 'getRowVariation($index + 1, "", "removed-row")'}
        %td
          %a.btn.btn-danger{'ng-click' => 'onRemoveRow($index + 1)', 'ng-class' => 'getRowVariation($index + 1, "btn-danger", "btn-inverse")'} {{getRowVariation($index + 1, "x", "+")}}
        %td{'ng-bind' => 'value', 'ng-repeat' => '(key, value) in item', 'ng-class' => 'getColumnVariation(key, "", "removed-column")'}
