.data-table{'ng-controller' => angular_controller, 'ng-show' => 'data.length'}
  %ns-serialize{'data' => monitor_points.to_json.html_safe, 'property' => 'monitorPoints'}
  %label.label.label-important{'ng-bind' => 'message'}
  %table.table.flare-table.table-striped.table-condensed.table-bordered
    %thead
      %tr
        %th
          %p.name Add / Remove
        %th{'ng-repeat' => '(key, value) in data[0]'}
          %p.name
            %span{'ng-bind' => 'getColumnLabel(key, monitorPoints[key])'}
            %span.limit{'ng-bind' => 'monitorLimits[key][limitKey]'}
    %tbody
      %tr.re-grid-row{'ng-repeat' => 'item in data | nsCollectionPage : page : 100 | nsCollectionKeyedNumericExpression : filters'}
        %td
          %a.btn.btn-danger{'ng-click' => 'onRemoveRow($index + 1)', 'ng-class' => 'getRowVariation($index + 1, "btn-danger", "btn-inverse")'} {{getRowVariation($index + 1, "x", "+")}}
        %td{'ng-class' => 'getOutsideLimitClass(value, monitorLimits[key], key)', 'ng-bind' => 'value', 'ng-repeat' => '(key, value) in item'}
