.visualizations.monitor-point-progress{'ng-controller' => 'controllers.visualizations.MonitorPointProgress', 'style' => 'height: 600px;'}
  %nvd3-line-chart{data: "exampleData", interactive: "true", showxaxis: "true", showyaxis: "true", tooltips: "true"}