.data-analysis
  = render 'shared/dashboard_actions', :landfill_operators => @landfill_operators, :sites => @sites, :sections => @sections, :assets => nil, :monitor_classes => @monitor_classes
  = render 'shared/data_table', :angular_controller => 'controllers.DataAnalysisTable', :data => [{:name => 'Jimmy', :age => 42}, {:name => 'George', :age => 78}]