.mobile-rig-documentation{'ng-app' => 'dashboard', 'ng-controller' => 'controllers.DocumentationController'}
  %h5 API Documentation
  %ul{'style' => 'list-style-type: none;'}
    %li{'ng-repeat' => 'call in api'}
      %ns-api-doc{'endpoint' => 'call'}
        %h5 {{call.name}}
        %label Path: {{call.path}}
        %label Method: {{call.method}}
        %label{'ng-show' => 'call.params'} Params:
        %label{'ng-repeat' => '(key, value) in call.params'} {{key}} => {{value}}
        %label{'ng-show' => 'call.payload'} Payload:
        .payload{'ng-show' => 'call.payload'}
          %pre{'ng-bind' => 'stringify(call.payload)'}
        .code
          %pre{'ng-bind' => 'call.response'}
