.mobile-rig{'ng-app' => 'dashboard', 'ng-controller' => 'controllers.MobileRigController'}
  %h5 Site
  %re-bootstrap-button-dropdown{'items' => 'locations', 'selected-item' => 'selectedLocation', 'label-field' => 'site_name'}
  %h5 Monitor Class
  %re-bootstrap-button-dropdown{'items' => 'monitorClasses', 'selected-item' => 'selectedMonitorClass', 'label-field' => 'name'}
  %form.form-inline
    %h5 Field Log
    .field-log.ng-clock{'ng-repeat' => 'flp in selectedMonitorClass.field_log_points'}
      %label{'ng-bind' => 'flp.name'}
      %input
    %h5 Monitor Points
    .monitor-point.ng-cloak{'ng-repeat' => 'mp in selectedMonitorClass.monitor_points'}
      %label{'ng-bind' => 'mp.name'}
      %input
    .submission
      %a.btn.btn-success Send
